footer {
  width: 90%;
  position: relative;
  display: flex;
  margin: 20px auto;
  padding: 15px 20px;
  border-radius: 15px;

  background: var(--footer-bg);
  color: var(--text-color);
}



.footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none; 
  margin: 0;
  padding: 0;

}



.footer ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s, border-bottom 0.3s;

}



.footer ul li a:hover {
  color: var(--btn-bg);
  border-bottom: 2px solid var(--btn-bg);

}

.footer-texto {
  position: absolute;
  right: 20px;
}


/* Responsivo: reorganizar en columnas */

@media (max-width: 768px) {
  .footer ul {
    flex-direction: column;
    gap: 10px;
  }

}