:root {
  /*--navbar-bg: #FDFBF7;*/
  --footer-bg: #f1f1f1;
  --text-color: #2C2C2C;

}

body.light-theme {
  --navbar-bg: #FDFBF7;
  --footer-bg: #f1f1f1;
  --text-color: #2C2C2C;
  
  --card-bg: #FFFFFF;
  --card-border: #E5E7EB;
  /*--btn-bg: #0078d7;*/
  --border: #cdc6b2;
  --bg: #FDFBF7;
  background: #eae7e3; /*color del fondo total de la pagina*/
  color: #2C2C2C;

  --btn-bg: #0078d7;
}

body.dark-theme {
  --navbar-bg: #1F2937;
  --footer-bg: #222;
  --text-color: #FDFBF7;

  --card-bg: #1e1e1e;
  --card-border: #444;
  /*--btn-bg: #0078d7;*/
  --border: #464646;
  --bg: #1F2937;
  background: #121212;
  color: #f9f9f9;

  --btn-bg: #0078d7;
}

.theme-toggle { 
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 16px;

  border-color: var(--border);
  background-color: var(--navbar-bg);
  color: var(--text-color);
}

/*body.light-theme {

  --navbar-bg: #f1f1f1;

  --footer-bg: #f1f1f1;

  --text-color: #222;

  background: #FDFBF7;

  color: #222;

}*/



/*body.dark-theme {

  --navbar-bg: #1F2937;

  --footer-bg: #222;

  --text-color: #f9f9f9;

  background: #121212;

  color: #f9f9f9;

}*/





/*body.light-theme {

  background: #FDFBF7;

  color: #222;

}*/



/*body.dark-theme {

  background: #121212;

  color: #f9f9f9;

}*/


/* Estilo para el botón de cambio de tema */



/*body.dark-theme {

  --card-bg: #1e1e1e;

  --card-border: #444;

  --navbar-bg: #1F2937;

  --text-color: #f9f9f9;

  --btn-bg: #0078d7;

}*/



/*body.light-theme {

  --card-bg: #FFFFFF;

  --card-border: #E5E7EB;

  --navbar-bg: #f1f1f1;

  --text-color: #222;

  --btn-bg: #0078d7;

}*/

